@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
  --muted-foreground: 215 16% 47%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;
    --muted-foreground: 215 16% 65%;
  }
}
